table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd; /* Add border to all table cells */
  }
  
  thead {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0 10px;
    cursor: pointer;
  }
  
  th {
    cursor: pointer;
    position: relative;
  }
  
  th:after {
    content: '↓';
    position: absolute;
    right: 10px;
  }
  
  th.sorted-asc:after {
    content: '↑';
  }
  
  th.sorted-desc:after {
    content: '↓';
  }
  
  th.sorted-none:after {
    content: '↓';
  }
  